/* scale */
.ani.scale {
  transform: scale(0.8) translateY(20px);
  transition: 1s ease in;
}
.ani.scale.moving {
  transform: scale(1) translateY(0px);
}
/* delay */
.ani.delay02 {
  transition-delay: 0.5s;
}
.ani.delay03 {
  transition-delay: 1s;
}
.ani.delay04 {
  transition-delay: 1.5s;
}
.ani.delay05 {
  transition-delay: 2s;
}
