@keyframes float {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* scale */
.ani.scale {
  transform: scale(0.8) translateY(50px);
  opacity: 0;
  transition: 1s ease-in-out;
}
.ani.scale.moving {
  transform: scale(1) translateY(0px);
  opacity: 1;
}
/* cover*/
.ani.cover::after {
  width: 100%;
  transition: 1s ease-out;
}
.ani.cover.moving::after {
  width: 0;
}

/* opacity */
.ani.opa {
  opacity: 0;
  transition: 1s;
}
.ani.opa.moving {
  opacity: 1;
}
/* to top */
.ani.top {
  opacity: 0;
  transform: translateY(0px);
  transition: 1s ease-out;
}
.ani.top.moving {
  opacity: 1;
  transform: translateY(-40px);
}

/* to right */
.ani.right {
  opacity: 0;
  transform: translateX(-40px);
  transition: 1s ease-out;
}
.ani.right.moving {
  opacity: 1;
  transform: translateX(0);
}

/* to left */
.ani.left {
  opacity: 0;
  transform: translateX(40px);
  transition: 1s ease-out;
}
.ani.left.moving {
  opacity: 1;
  transform: translateX(0);
}

/* delay */
.ani.delay02 {
  transition-delay: 0.2s;
}
.ani.delay03 {
  transition-delay: 0.4s;
}
.ani.delay04 {
  transition-delay: 0.6s;
}
.ani.delay05 {
  transition-delay: 0.8s;
}
