* {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
}
:root {
  --color-black: black;
  --color-purple: #8e7be3;
  --color-blue: #1f90fc;
  --color-white: #f9fafb;
  --color-purblue: #6c74eb;
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
}
img {
  width: 100%;
  height: auto;
}
.inner {
  width: 1200px;
  margin: auto;
  height: 100vh;
}
.sub-tit {
  text-align: center;
  font-size: 35px;
  color: #1f90fc;
  padding-top: 2em;
  font-weight: 700;
}
.text {
  margin-top: 45px;
  font-size: 18px;
  line-height: 35px;
  opacity: 0.85;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mo {
  display: none;
}

/* ############### header ############### */
.progress-bar-wrap {
  width: 100%;
  height: 5px;
  background-color: rgb(175, 175, 175);
  position: fixed;
  top: 0;
  z-index: 100;
}
.progress-bar {
  width: 0;
  background-color: var(--color-blue);
  height: 100%;
}
.header .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative;
}
.header h1 {
  font-size: 48px;
  line-height: 140%;
  font-weight: 700;
  color: #6b74eb;
  margin-bottom: 10px;
  margin-top: 50px;
}
.header h2 {
  font-weight: 500;
  font-size: 20px;
  margin-top: 12px;
  margin-bottom: 24px;
  opacity: 0.65;
}
.header h3 {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 22px;
  margin-bottom: 80px;
  opacity: 0.65;
}
.header p:nth-child(1) {
  font-size: 18px;
  position: absolute;
  top: 100px;
  text-transform: uppercase;
  opacity: 0.65;
  letter-spacing: 1px;
}
.header .link {
  display: inline-block;
  font-size: 14px;
  all: unset;
  padding: 15px 15px;
  text-align: center;
  width: 150px;
  background: linear-gradient(#8991fc, #6b74eb);
  border-radius: 12px;
  color: #fff;
  box-shadow: 0px 4px 16px (rgba(97, 24, 255, 0.3));
  border-bottom: 4px solid #353b8f;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  cursor: pointer;
  position: relative;
}
.header .link:hover {
  border-top: 4px solid #8991fc;
  border-bottom: none;
}
.header p:last-child {
  position: absolute;
  bottom: 80px;
  letter-spacing: 0.5px;
  opacity: 0.85;
}
/* ############### section: summary ############### */
.summary .content {
  height: 70vh;
}
/* ############### section: intro ############### */
.tit-sub {
  font-weight: 400;
  font-size: 18px;
  margin-top: 15px;
  opacity: 0.85;
  text-align: center;
}
.intro .text {
  margin-top: 100px;
}
.circle-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.circle-item {
  width: 200px;
  height: 200px;
  background-color: var(--color-purple);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  margin-bottom: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
}
.circle-item-text {
  font-size: 18px;
  color: white;
  line-height: 150%;
  text-align: center;
  font-weight: 500;
}

/* ############### section: research ############### */
.research .img-cover {
  width: 600px;
  height: auto;
  margin: auto;
  margin-top: 45px;
  position: relative;
}
.research .img-cover::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.research .img-cover img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
/* ############### section: theory ############### */
.theory .img-cover {
  width: 500px;
  height: auto;
  margin: auto;
  margin-top: 45px;
  animation: float 2s infinite alternate;
}
.theory .text {
  text-align: center;
}
/* ############### section: term ############### */
.term .circle-wrapper {
  margin-top: 100px;
}
.term .circle-wrapper span {
  font-size: 50px;
  color: var(--color-purblue);
}
.term .circle-item {
  display: flex;
  flex-direction: column;
}
.term .circle-item .icon {
  color: #fff;
  margin-bottom: 10px;
}
/* ############### section: graph ############### */
.graph .img-cover {
  width: 700px;
  height: auto;
  margin: auto;
  margin-top: 150px;
}
.graph .img-cover img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
/* ############### section: box ############### */
.box-first {
  margin-top: 120px;
  margin-bottom: 28px;
}
.box-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.box-item {
  height: 200px;
  width: 164px;
  background-color: var(--color-white);
  display: flex;
  flex-wrap: wrap;
  margin: 0 5px;
  border-radius: 0.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
}
.box-con {
  height: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.box-con .icon {
  font-size: 60px;
}
.box-first .box-item .box-con .icon,
.box-first span.rig {
  color: var(--color-purple);
}
.box-second .box-item .box-con .icon,
.box-second span.rig {
  color: var(--color-purblue);
}
.box-text {
  line-height: 20px;
  width: 100%;
  font-size: 14px;
  opacity: 0.85;
  text-align: center;
}
.box-item i {
  width: 100%;
  height: 20%;
  font-size: xxx-large;
  margin-bottom: 20px;
  color: var(--color-purple);
}
.box-second i {
  color: var(--color-purblue);
}
/* ############### section: compare ############### */
.table-items {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.item {
  width: 360px;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
}
.item-list {
  font-size: 15px;
  line-height: 180%;
  margin-top: 1.2em;
  display: flex;
  opacity: 0.85;
}
.compare .img-cover {
  width: 80px;
  height: auto;
}
.compare .img-cover::after {
  content: "";
  display: block;
  width: 100%;
  border-top: 1px dotted rgba(0, 0, 0, 0.24);
}
.logo {
  margin-bottom: 4px;
  object-fit: cover;
  width: inherit;
  height: inherit;
  padding-bottom: 20px;
  margin: auto;
}
.logo-name {
  opacity: 0.65;
  padding-bottom: 8px;
  text-align: center;
  letter-spacing: 1px;
}
/* /* ############### section: result ############### */
.result .circle-wrapper {
  margin-top: 100px;
}
/* /* ############### section: result-graph ############### */
.item-list::before {
  content: "◾️";
  margin-right: 0.5em;
  font-size: 0.8rem;
  opacity: 0.65;
}
.result-graph .img-cover {
  width: 500px;
  height: auto;
  margin: auto;
  margin-top: 100px;
}
/* /* ############### section: conclusion ############### */
.conclusion .content {
  margin-top: 160px;
}
.conclu-text-wrap:not(:last-of-type) {
  margin-bottom: 50px;
}
.conclu-text-wrap {
  display: flex;
}
.conclu-text-wrap::before {
  content: "";
  display: inline-block;
  position: relative;
  top: -5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color-purple);
  margin-right: 10px;
  flex-shrink: 0;
  text-align: center;
  line-height: 32px;
  color: #fff;
}
.conclu-text-wrap:nth-child(1):before {
  content: "1";
}
.conclu-text-wrap:nth-child(2):before {
  content: "2";
}
.conclu-text-wrap:nth-child(3):before {
  content: "3";
}
.conclusion .text {
  margin-top: 20px;
}
.conclu-text-wrap h4 {
  font-weight: 700;
  font-size: 20px;
  opacity: 0.85;
  line-height: 30px;
}
/* scroll-top */
.scroll-top {
  all: unset;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: var(--color-blue);
  position: fixed;
  bottom: 50px;
  right: 50px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
}
.scroll-top.On {
  visibility: visible;
  opacity: 1;
}
.scroll-top span {
  color: white;
}
